body {
  margin: 0px !important;
  background-color: #000;
}
.container {
  width: 100%;
  height: 100%;
}

.first-image {
  background-image: url("https://images.newtalk.tw/resize_action2/1200/album/news/621/6116147d86465.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.second-image {
  background-image: url("https://polymarket.com/_next/image?url=https%3A%2F%2Fpolymarket-upload.s3.us-east-2.amazonaws.com%2Fpopcat-listed-on-binance-or-coinbase-in-2024-gkQ501hgJ4I5.png&w=256&q=100");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #fff;
}

.content {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 40vh;
}