body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.box {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.b1,
.b2 {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.b1 {
  background-color: #c9cf8a;
}

.b2 {
  background-color: #f9c9b4;
}

@media (max-width: 768px) {
  .box {
    flex-direction: column;
  }
}
